# Do not upload .ipynb since they store the results and plots
# This allows to store the Rmd to do diffs, while keeping the .ipynb files local
#*.ipynb

# Pycharm folder
.idea

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Models dumps
*.bin

#IDE directories
.Rproj.user
.ipynb_checkpoints
